<div class="card mb-4">
  <div class="card-body bg-light">
      <img class="img-thumbnail float-right"
        src="//api.angular.schule/avatar/{{ book.rating }}">
    <div class="card-title">
      <h2>
        {{ book.title }}
        <span class="badge badge-secondary">
          <ng-container *ngFor="let s of rating">⭐️</ng-container>
        </span>
      </h2>
    </div>
    <p>{{ book.description }}</p>
  </div>
</div>

<!-- the worst case -->
<button class="btn btn-primary"
  (click)="book.rating = book.rating - 1">
  -
</button>
