<div class="card mb-4">
  <div class="card-body bg-light">
      <img
        *ngIf="book.thumbnails.length"
        class="img-thumbnail float-right mr-4" width="200"
        [src]="book.thumbnails[0].url">
    <div class="card-title">
      <h2>
        {{ book.title }}
        <span class="badge badge-secondary">
          <ng-container *ngFor="let s of rating">⭐️</ng-container>
        </span>
      </h2>
    </div>
    <p>{{ book.description }}</p>

    <button (click)="doRateDown()"
      class="btn btn-secondary mr-2">-</button>

    <button (click)="doRateUp()"
      class="btn btn-primary">+</button>

    <a [routerLink]="['/books', book.isbn]" class="btn btn-primary ml-2">Details</a>
  </div>
</div>
